<h1 id='logo'>
  <%= link_to image_tag("logo.png", :alt => Refinery::Core.site_name, :height => 112, :width => 203), refinery.root_path %>
</h1>
<div class="description">
  <%=raw ::Refinery::Setting.find_or_set(:description, "") %>
</div>
<%= render(:partial => "/refinery/menu", :locals => {
             :dom_id => 'menu',
             :css => 'menu'
           }) %>
<% if refinery_user? %>
  <div class="member_menu_space"></div>

  <ul class="member_menu">
    <% if @user.has_plan?(:workshop) %>
      <li><a href="/akouo">
        <span>Akouo</span> Business Plan
      </a></li>
    <% end %>

    <% if @user.has_plan?(:silver) %>
      <li><a href="/journeyboard">
        <span>Journey</span>Board
      </a></li>
    <% end %>

    <% if @user.has_plan?(:bronze) %>
      <li><a href="/journeypartners">
        <span>Journey</span> Partners
      </a></li>
    <% end %>
  </ul>
<% end %>