<h1 id='logo'>
  <%= link_to image_tag("logo.png", :alt => Refinery::Core.site_name, :height => 112, :width => 203), refinery.root_path %>
</h1>
<div class="description">
  <%= ::Refinery::Setting.find_or_set(:description, "") %>
</div>
<%= render(:partial => "/refinery/menu", :locals => {
             :dom_id => 'menu',
             :css => 'menu'
           }) %>
<% if refinery_user? && current_refinery_user.has_role?(:member) %>
  <div class="member_menu_space"></div>

  <ul class="member_menu">
    <li><a href="/akouo">
      <span>Akouo</span> Business Plan
    </a></li>

    <li><a href="/journeyboard">
      <span>Journey</span>Board
    </a></li>

    <li><a href="/journeypartners">
      <span>Journey</span> Partners
    </a></li>
  </ul>
<% end %>