<section id="sidebar">
  <div class="workshops">
    <h1>Workshop Calendar</h1>
    <div class="body">
      <ol>
        <% if @sidebar_workshops.count > 0 %>
          <% @sidebar_workshops.each do |workshop| %>
            <li><a href="<%= refinery.workshops_workshop_path(workshop) %>">
              <ul>
                <li class="strong"><%= workshop.title %></li>
                <li class="strong"><%= workshop.location %></li>
                <li><%= workshop.date %></li>
                <li class="anchor">Learn more&hellip;</li>
              </ul>
            </a></li>
          <% end %>
        <% else %>
          <li>There are no upcoming workshops scheduled. Check back later!</li>
        <% end %>
      </ol>

      <a href="/workshops/calendar" class="view_all">View All Upcoming Workshops</a>
    </div>
  </div>

  <div class="images">
    <a href="/workshops/calendar">
      <img src="//theprofitjourney.com/system/images/BAhbBlsHOgZmSSJGMjAxMi8xMC8zMS8xN181Nl8zOF83NDVfVFBKX0ludGVyaW9yX0Jhc2VfV29ya3Nob3BfSW1hZ2VfbGluay5wbmcGOgZFVA/TPJ-Interior-Base--Workshop-Image_link.png">
    </a>

    <a href="/services/private-consultations">
      <img src="//theprofitjourney.com/system/images/BAhbBlsHOgZmSSJEMjAxMi8xMC8zMS8xN181N18yN182OV9UUEpfSW50ZXJpb3JfQmFzZV9Db25zdWx0X0ltYWdlX2xpbmsucG5nBjoGRVQ/TPJ-Interior-Base--Consult-Image_link.png">
    </a>

    <a href="/services/e-learning">
      <img src="//theprofitjourney.com/system/images/BAhbBlsHOgZmSSJDMjAxMi8xMC8zMS8xN181Nl81Nl8zMDlfVFBKX0ludGVyaW9yX0Jhc2VfTGVhcm5fSW1hZ2VfbGluay5wbmcGOgZFVA/TPJ-Interior-Base--Learn-Image_link.png">
    </a>
  </div>
</section>