<section id="sidebar">
  <div class="workshops">
    <h1>Workshop Calendar</h1>
    <div class="body">
      <ol>
        <% if @sidebar_workshops.count > 0 %>
          <% @sidebar_workshops.each do |workshop| %>
            <li><a href="<%= refinery.workshops_workshop_path(workshop) %>">
              <ul>
                <li class="strong"><%= workshop.title %></li>
                <li class="strong"><%= workshop.location %></li>
                <li><%= workshop.date %></li>
                <li class="anchor">Learn more&hellip;</li>
              </ul>
            </a></li>
          <% end %>
        <% else %>
          <li>There are no upcoming workshops scheduled. Check back later!</li>
        <% end %>
      </ol>

      <a href="/workshops/calendar" class="view_all">View All Upcoming Workshops</a>
    </div>
  </div>
</section>