@import "compass";
@import "reset";

* {
  box-sizing: border-box;
}
body,
html {
  background: #fff url("background.png");
}
body {
  font-family: "Times New Roman", Times, serif;
  font-size: 14px;
  line-height: 18px;
}
#page_container,
.container {
  margin: 0 auto;
  padding: 0 20px;
  width: 910px;
}
.top_bar {
  @include background(linear-gradient(#004a1e, #02632c));
  color: #fff;
  font-family: Arial, sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  width: 100%;

  a {
    color: inherit;
    display: inline-block;
    padding: 6px 0;

    &:hover,
    &:focus {
      color: #f4db87;
    }
  }
  .secondary {
    float: right;

    a {
      border: 1px solid #4c705b;
      border-top: none;
      border-bottom: none;
      margin-left: -5px;
      padding: 6px 18px;
    }
  }
  .telephone {
    font-size: 16px;
    margin-left: 5px;
    position: relative;
    top: 2px;
  }
}
#header {
  font-family: Arial, sans-serif;
  padding-bottom: 40px;
  position: relative;
}
#logo {
  position: relative;
  
  img {
    margin: -20px 0 0 35px;
  }
}
.description {
  color: #1d1c1d;
  font-family: "Times New Roman", Times, serif;
  font-size: 16px;
  font-style: italic;
  margin: 0 0 10px 10px;
}
#menu ul {
  font-size: 15px;
  list-style: none;
  position: absolute;
  right: 0;
  top: 0;

  li {
    color: #055219;
    display: inline-block;
    margin-left: 5px;
    position: relative;

    a {
      color: inherit;
      display: block;
      padding: 20px 15px 10px;
      text-decoration: none;
    }
    &.selected > a,
    &:hover,
    &:focus {
      background: #02642d;
      color: #f4db87;
    }
    &:hover ul {
      display: block;
    }
    ul {
      background: #02642d;
      display: none;
      left: 0;
      padding: 10px 15px;
      position: absolute;
      top: 48px;
      width: 200px;
      z-index: 500;

      li {
        color: #FFF;
        display: inline;
        margin: 0;

        a {
          padding: 5px 0;
        }
        &.selected,
        &:hover,
        &:focus {
          color: #f4db87;
        }
      }
    }
  }
}
.member_menu {
  bottom: 0;
  position: absolute;
  right: 0;

  li {
    background-color: #fff;
    @include box-shadow(-2px -2px 5px 0 rgba(0,0,0,0.2));
    color: #000;
    display: inline-block;
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;

    span {
      color: #02642d;
    }
    a {
      border: 1px solid #f7e0a4;
      color: inherit;
      display: block;
      margin: 4px 4px 0;
      padding: 10px 6px;
      text-decoration: none;
    }
  }
}
#page {
  background: #FFF;
  @include box-shadow(-1px -1px 10px 0 rgba(0,0,0,0.2));
  color: #333;
  padding: 6px;
}
#body_content_title {
  font-size: 20px;
}
#sidebar {
  float: right;
  width: 30%;
}
#content {
  float: left;
  width: 69%;

  #summary {
    border: 1px solid #f1dba0;
    padding: 14px;

    div {
      margin-top: 10px;
    }
  }
  #body {
    padding: 10px 14px 14px;
  }
}
#footer {
  background-color: #212121;
  color: #fff;
  padding: 10px 20px;
}