@import "compass";
@import "reset";

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
body,
html {
  background: #fff url("background.png");
  background-attachment: fixed;
}
body {
  font-family: Arial, sans-serif;
  font-size: 12px;
  line-height: 18px;
}
ul {
  list-style: disc;
  margin-left: 15px;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
}
h1 span,
h2 span,
h3 span,
h4 span,
h5 span,
h6 span {
  font-weight: normal;
}
a {
  color: #055119;
  text-decoration: underline;
}
.strong,
strong {
  font-weight: bold;
}
table {
  text-align: left;
  width: 100%;
}
hr {
  border: none;
  border-bottom: 1px solid #e2e2e2;
  margin: 15px 0;
}
label,
select {
  font-size: 13px;
}
input,
textarea {
  border: 1px solid #ccc;
  @include box-shadow(inset 0px 0px 1px 0 #aaa);
  font-size: 13px;
  padding: 6px;
}
.fieldWithErrors input,
.fieldWithErrors textarea {
  border-color: #9C2626;
}
#error_explanation,
.flash_error,
.flash_alert {
  background-color: #FFBEBE;
  border-top: 3px solid #F27F7F;
  margin-bottom: 10px;
  padding: 10px;

  ul {
    list-style: disc;
    margin-left: 20px;
  }
}
#error_explanation,
#error_explanation *,
.flash_error,
.flash_error *,
.flash_alert,
.flash_alert *,
.fieldWithErrors,
.fieldWithErrors * {
  color: #9C2626;
}
.flash_notice {
  background-color: #8beb86;
  border-top: 3px solid #37d607;
  margin-bottom: 10px;
  padding: 10px;
}
.hidden {
  display: none;
}
#page_container,
.container {
  margin: 0 auto;
  padding: 0 20px;
  width: 950px;
}
.top_bar {
  @include background(linear-gradient(#004a1e, #02632c));
  color: #fff;
  font-family: Arial, sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  width: 100%;

  a {
    color: inherit;
    display: inline-block;
    padding: 6px 0;

    &:hover,
    &:focus {
      color: #f4db87;
    }
  }
  .secondary {
    float: right;

    a {
      border: 1px solid #4c705b;
      border-top: none;
      border-bottom: none;
      margin-left: -5px;
      padding: 6px 18px;
    }
  }
  .telephone {
    font-size: 16px;
    margin-left: 5px;
    position: relative;
    top: 2px;
  }
}
#header {
  font-family: Arial, sans-serif;
  position: relative;
}
#logo {
  position: relative;

  img {
    margin: -20px 0 0 35px;
  }
}
.description {
  color: #1d1c1d;
  font-family: "Times New Roman", Times, serif;
  font-size: 16px;
  font-style: italic;
  margin: 0 0 10px 10px;
}
#menu ul {
  font-size: 15px;
  list-style: none;
  margin-left: 0;
  position: absolute;
  right: 0;
  top: 0;

  li {
    color: #055219;
    display: inline-block;
    margin-left: 5px;
    position: relative;

    a {
      color: inherit;
      display: block;
      padding: 20px 15px 10px;
      text-decoration: none;
    }
    &.selected > a,
    &:hover,
    &:focus {
      background: #02642d;
      color: #f4db87;
    }
    &:hover ul {
      display: block;
    }
    ul {
      background: #02642d;
      display: none;
      left: 0;
      padding: 10px 15px;
      position: absolute;
      top: 48px;
      width: 200px;
      z-index: 500;

      li {
        color: #FFF;
        display: inline;
        margin: 0;

        a {
          padding: 5px 0;
        }
        &.selected,
        &:hover,
        &:focus {
          color: #f4db87;
        }
      }
    }
  }
}
.member_menu_space {
  margin-top: 40px;
}
.member_menu {
  bottom: -40px;
  position: absolute;
  right: 0;

  li {
    background-color: #fff;
    @include box-shadow(-2px -2px 5px 0 rgba(0,0,0,0.2));
    color: #000;
    display: inline-block;
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;

    span {
      color: #02642d;
    }
    a {
      border: 1px solid #f7e0a4;
      color: #000;
      display: block;
      margin: 4px 4px 0;
      padding: 10px 6px;
      text-decoration: none;
    }
  }
}
#page,
.top_images img {
  @include box-shadow(-1px -1px 10px 0 rgba(0,0,0,0.2));
}
#page {
  background: #FFF;
  color: #333;
  padding: 6px;
}
#body_content_title {
  font-size: 20px;
  position: relative;

  .button {
    float: right;
    position: absolute;
    right: 0;
    top: -6px;
  }
}
#sidebar {
  float: right;
  width: 32%;
}
#sidebar .workshops {
  background-color: #d1e0d4;
  border: 1px solid #02642d;
  line-height: 1.1;
}
.workshops {
  ul,
  li {
    list-style: none;
    margin: 0;
  }
  h1 {
    background-color: #02642d;
    color: #FFF;
    font-size: 17px;
    padding: 6px 12px;
  }
  #content & h2 {
    margin-bottom: 0;
  }
  .body {
    padding: 0 12px 6px;
  }
  & > li {
    margin-bottom: 15px;
  }
  ol > li {
    border-bottom: 1px dotted #889089;
    padding: 14px 0;
  }
  a {
    color: #232323;
    text-decoration: none;
  }
  .anchor,
  .view_all {
    color: #055119;
    text-decoration: underline;
  }
  .view_all {
    background-color: #d1e0d4;
    display: inline-block;
    position: relative;
    top: -2px;
    width: 100%;
  }
}
#content {
  float: left;
  width: 67%;

  .full_width & {
    width: 100%;
  }
  #summary {
    border: 1px solid #f1dba0;
    padding: 14px;

    h1 {
      margin: 0;
    }
    div {
      margin-top: 10px;
    }
  }
  #body {
    padding: 10px 14px 14px;
  }
  h1,
  h2,
  h3 {
    margin-bottom: 6px;
  }
  h1 {
    font-size: 17px;
  }
  h2 {
    font-size: 15px;
  }
  h3 {
    font-size: 13px;
  }
  p {
    margin-bottom: 6px;
  }
}
#content.home {
  .left,
  .middle,
  .bottom {
    float: left;
    padding: 10px;
  }
  .left,
  .middle {
    width: 49%;
  }
  .left {
    border-right: 1px solid #e0e0e0;
  }
  .bottom {
    border-top: 1px solid #e0e0e0;
    margin-top: 10px;
    width: 100%;
  }
  h1 span {
    color: #05521a;
  }
}
.slideshow {
  background: #000;
  color: #fbf5ed;
  height: 240px;
  margin-bottom: 10px;

  h2 {
    color: #f7e0a4;
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 10px;
  }
  .pagination {
    list-style: none;
    margin: 0;
    padding: 0;
    padding: 8px 0 0 405px;

    li {
      float: left;
      margin-right: 10px;
    }
    li a {
      background-image: url("slideshow-dots.png");
      display: block;
      height: 10px;
      text-indent: -9999px;
      width: 10px;
    }
    li.current a {
      background-position-x: -10px;
    }
  }
}
.slides_container {
  position: relative;

  .content {
    @include background-image(linear-gradient(left, #1d1d1d, #2c2c2c));
    overflow: hidden;
    padding: 30px 15px;
    width: 310px;
  }
  div {
    height: 214px;
    width: 910px;
  }
  img {
    position: absolute;
    right: 0;
    top: 0;
  }
}
.top_images {
  @include pie-clearfix;
  margin-bottom: 10px;
  width: 150%;
}
.top_images img {
  height: auto;
  float: left;
  margin-right: 10px;
  width: 297px;
}
.workshop-meta {
  border-bottom: 1px solid #e2e2e2;
  margin-bottom: 10px;

  thead {
    font-weight: bold;
  }
  th,
  td {
    padding-right: 15px;
  }
  td {
    padding-bottom: 10px;
  }
}
.button {
  -webkit-appearance: none;
  background-color: #02642d;
  border: none;
  color: #fff;
  cursor: pointer;
  font-family: Arial, sans-serif;
  font-size: 12px;
  font-weight: normal;
  padding: 6px 8px;
  position: relative;
  text-decoration: none;
  top: 10px;
}
.form {
  label,
  input {
    display: block;
  }
}
.styled_form {
  label {
    display: inline-block;
    margin: 8px 0;
    width: 140px;
  }
  .radio label {
    width: 200px;
  }
  input {
    vertical-align: top;
  }
  input,
  select {
    margin-bottom: 15px;
  }
  input[type=radio] {
    margin-bottom: 0;
  }
  .card_details {
    width: 215px;
  }
  .payment_notice {
    color: #aaa;
    display: inline-block;
    left: 10px;
    margin-top: 10px;
    position: relative;
    top: 9px;
  }
}
.wide label {
  width: 200px;
}
.account_workshops {
  list-style: none;
  margin-left: 0;

  label {
    width: auto;
  }
}
// <table class="journeyboard">
.journeyboard {
  th,
  td {
    padding: 5px;
  }
  td {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
  }
}
// <div class="agreements">
//   <input class="platinum">
//   <div class="platinum">
td.agreements {
  padding: 0;
}
.agreements {
  input {
    width: 60px;
  }
  td {
    border: none;
  }
  .platinum {
    background-color: #c2d7ee;
  }
  .gold {
    background-color: #e8e5bf;
  }
  .silver {
    background-color: #e5e5e5;
  }
  .bronze {
    background-color: #ceb17e;
  }
}
#footer {
  background-color: #212121;
  color: #fff;
  font-size: 12px;
  margin-bottom: 40px;
  padding: 10px 20px;
}